* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-size: 1.25rem;
  font-family: sans-serif;
  line-height: 150%;
  color: white;
}

section {
  color: #fff;
  text-align: center;
}

div {
  height: 100%;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.left-half {
  background-image: url("/broadcast-tower.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  background-image: url("/tool-belt.jpg");
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0px;
  width: 50%;
}
